In [3]:
import pandas as pd
import numpy as np
from ast import literal_eval
from datetime import datetime

In [457]:
# df = pd.read_csv("0.csv")

In [458]:
# ct = 0
# for idx, row in df.iterrows():
#     ct += 1
# ct

In [459]:
# df = pd.read_csv("0.csv")
# process(df)

In [460]:
# df.to_csv("tempout.csv",index=False)

In [461]:
def isNaN(num):
    return num != num

In [462]:
def process_buildup(buildup):
    if buildup =="" or isNaN(buildup):
        return -1
    if isinstance(buildup,int) or isinstance(buildup,float):
        return buildup
    return int(buildup.split(" ")[0])

In [463]:
def process_added(added):
    if added=="" or isNaN(added):
        return 0
    if added=="Just now":
        return 0
    if added == "More than a month ago":
        return 100
    else:
        return int(added.split(" ")[0])

In [464]:
def process_carpet(carpet):
    if carpet =="":
        return -1
    if isinstance(carpet,int) or isinstance(carpet,float):
        return carpet
    return int(carpet.split(" ")[0])

In [465]:
def process_age(age):
    if age=="":
        return 0
    if isinstance(age, int) or isinstance(age,float):
        return age
    else:
        return int(age.split(" ")[0])

In [466]:
def process_avg(avg):
    if(avg==""):
        return -1
    if isinstance(avg,float):
        num1 = avg
    else: 
        temp = avg.split(" ")[0]
        numeric_string = re.sub("[^0-9.]", "", temp)
        num1 = float(numeric_string)
    return num1 * 1000

In [467]:
genericlist= ['Bore Water', 'Bore and Municipal water', 'Garden',
       'Gated Community', 'Gym', 'Intercom', 'Kids Area', 'Lift',
       'Municipal Water', 'Parking', 'Pet Allowed', 'Pool', 'Security',
       'Sports Facility', 'Water Supply']

In [468]:
# Lift:0, Swimming pool:1, Gym:2, Parking:3, Gated Community:4
def process_amen(amen):
    amen_list = []
    for i in genericlist:
        if i in amen:
            amen_list.append(1)
        else:
            amen_list.append(0)
    return amen_list

In [469]:
# gaspipline:0, powerbackup:1
soc_list = ['AC', 'Bed', 'Cupboard', 'Fridge', 'Gas Pipeline', 'Geyser', 'Intercom', 'Microwave', 'Power Backup', 'Sofa', 'Stove', 'TV','Washing Machine']
def process_furn(furn):
    list_furn = []
    for i in soc_list:
        if i in furn:
            list_furn.append(0)
        else:
            list_furn.append(1)
    return list_furn

In [470]:
def process_balcony(balcony):
    if(balcony==""):
        return 0
    if(balcony=="No Balcony" or isNaN(balcony)):
        return 0
    else:
        return int(balcony)

In [471]:
def process_parking(parking):
    if(parking==""):
        return 0
    if(parking=="No Parking"):
        return 0
    else:
        if isinstance(parking,int) or isinstance(parking,float):
            return parking
        return int(parking.split(" ")[0])

In [472]:
# 1 for lower, 2 for middle, 3 for higher
def process_floorinfo1(f1):
    if isNaN(f1):
        return 0
    f1 = f1.lower()
    if(f1==""):
        return 0
    if("lower" in f1 or "ground floor" in f1 or "1st" in f1):
        return 1
    elif("middle" in f1):
        return 2
    elif "higher" in f1:
        return 3
    else:
        return 0

In [473]:
def process_floorinfo2(f2):
    if(isinstance(f2,int) or isinstance(f2,float)):
        return f2
    if f2=="" or len(f2.split(" "))<3:
        return 0    
    return int(f2.split(" ")[2])

In [474]:
# 0 for unfurnished, 1 for semi furnished, 2 for fully furnished
def process_furnishing(fur):
    if(fur == "Unfurnished"):
        return 0
    elif(fur=="Semi Furnished"):
        return 1
    elif fur=="Fully Furnished":
        return 2
    else:
        return 0

In [475]:
def process_facing(facing):
    if isinstance(facing,float):
        return facing
    facing = facing.lower()
    if facing=="north":
        return 0
    elif facing=="north-east":
        return 1
    elif facing=="east":
        return 2
    elif facing=="south-east":
        return 3
    elif facing=="south":
        return 4
    elif facing=="south-west":
        return 5
    elif facing=="west":
        return 6
    elif facing=="north-west":
        return 7
    else:
        return -1

In [476]:
def process_price(price):
    if(price=="" or isNaN(price)):
        return 0
    num1 = (price.split(" ")[0])
    numeric_string = re.sub("[^0-9.]", "", num1)
    num1 = float(numeric_string)
#     if len(price.split(" "))>1:      
#         if price.split(" ")[1]=="L":
#             return num1 * 100000
#         else:
#             return num1 * 10000000
#     else:
#         return 0
    return num1

In [477]:
def process_emi(emi):
    if(emi==""):
        return 0
    num1 = float(emi.split(" ")[0])
    if len(emi.split(" "))>1:      
        if emi.split(" ")[1]=="K":
            return num1 * 1000
        else:
            return num1 * 100000
    else:
        return 0

In [478]:
monthmap = {
    "Jan,": "01",
    "Feb,": "02",
    "Mar,": "03",
    "Apr,": "04",
    "May,": "05",
    "Jun,": "06",
    "Jul,": "07",
    "Aug,": "08",
    "Sep,": "09",
    "Oct,": "10",
    "Nov,": "11",
    "Dec,": "12"
}

In [479]:
def process_possession(poss):
    if poss=="":
        return 0
    if poss=="Available now":
        return 0
    else:
        month = ""
        if isinstance(poss,float) or isinstance(poss,int):
            return 0
        arr = poss.split(" ")
        if(len(arr)!=2):
            return 0
        year = arr[1]
        for mon in monthmap:
            if mon in poss:
                month = mon
        if month == "":
            return 0
        ans = monthmap[month] + "-" + year
        return ans

In [480]:
import re
def process_brokerage(brok):
    if brok=="":
        return 0
    if isinstance(brok, float) or isinstance(brok, int):
        return brok
    if "No Charge" in brok:
        return 0
    else:
        numeric_string = re.sub("[^0-9.]", "", brok)
        num1 = float(numeric_string)
        if("Lac" in brok):
            return num1 * 100000
        if("Cr" in brok):
            return num1 * 10000000
        return num1

In [481]:
# # data consistency checker
print(len(df))
print(df['property_type'].unique())
print(len(df[df['property_type'].isin(['Apartment', 'Plot', 'Independent House', 'Villa', 'Agricultural Land'])]))
print(df['longitude'].isnull().count())
print(df['latitude'].isnull().count())
# print(len(df['Build up area'])
# print(len(df['Carpet area'].str.endswith("sq.ft")))
print(len(df[df['address'] == '']))

49343
['Apartment' 'Independent House' 'Villa' 'Independent Floor']
48619
49343
49343
0

In [482]:
def process_gaspipe(g):
    if g == "Yes":
        return 1
    else:
        return 0

In [483]:
def process_gated(g):
    if g == "Yes":
        return 1
    else:
        return 0

In [484]:

def process_sec(brok):
#     if(price=="" or isNaN(price)):
#         return 0
#     num1 = (price.split(" ")[0])
#     numeric_string = re.sub("[^0-9.]", "", num1)
#     num1 = float(numeric_string)
#     if len(price.split(" "))>1:      
#         if price.split(" ")[1]=="L":
#             return num1 * 100000
#         else:
#             return num1 * 10000000
#     else:
#         return 0
#     return num1
    if brok=="":
        return 0
    if isinstance(brok, float) or isinstance(brok, int):
        return brok
    if "No Charge" in brok:
        return 0
    else:
        numeric_string = re.sub("[^0-9.]", "", brok)
#         print(numeric_string)
        
        if(len(numeric_string) < 1):
            numeric_string = '0'
        if(numeric_string.endswith(".")):
            numeric_string = numeric_string[:-1]        
        
 
        num1 = float(numeric_string)

        
        if("La" in brok):
            return num1 * 100000
        if("K" in brok):
            return num1 * 10000000
        return num1

In [485]:
def process(df):
    for i, row in df.iterrows():
        df.at[i, 'Age of property'] = process_age(row['Age of property'])
        #df.at[i, 'Avg. Price'] = process_avg(row['Avg. Price'])
        df.at[i, 'Balcony'] = process_balcony(row['Balcony'])
        df.at[i,'Bedrooms'] = (row['Bedrooms'])
        df.at[i,'Brokerage'] = process_brokerage(row['Brokerage'])
        df.at[i,'Build Up Area'] = process_buildup(row['Build Up Area'])
        df.at[i,'Carpet Area'] = process_carpet(row['Carpet Area'])
        df.at[i,'Furnishing'] = process_furnishing(row['Furnishing'])
        df.at[i,'Parking'] = process_parking(row['Parking'])
        df.at[i,'Possession status'] = process_possession(row['Possession status'])
        df.at[i,'Price'] = process_price(row['Price'])
        #df.at[i,'emi'] = process_emi(row['emi'])
        df.at[i,'floorinfo1'] = process_floorinfo1(row['Floor number'])
        df.at[i,'floorinfo2'] = process_floorinfo2(row['Floor number'])
        
        df.at[i,'Gate Community'] = process_gated(row['Gate Community'])
        df.at[i,'Security'] = process_sec(row['Security'])
        df.at[i,'Gas Pipeline'] = process_gaspipe(row['Gas Pipeline'])
        
        df.at[i,'amen'] = process_amen(row['amen'])
        df.at[i,'furn'] = process_furn(row['furn'])
        df.at[i,'Facing'] = process_facing(row['Facing'])
        df.at[i,'Age of property'] = process_age(row['Age of property'])
#         df.at[i,'Added'] = process_added(row['Added'])
        
        if( i%5000 == 0):
            print(i)

In [486]:
finaldf = pd.read_csv("output.csv")
finaldf = finaldf.rename(columns = {"bhk": "Bedrooms", "Build up area": "Build Up Area", "Carpet area": "Carpet Area", "price": "Price", "Main entrance facing": "Facing", "Available from": "Possession status"})

process(finaldf)
finaldf.to_csv("finaldf.csv")
finaldf

/usr/local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (42,51) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

0
5000
10000
15000
20000
25000
30000
35000
40000
45000

,Age of property,Possession status,Balcony,Bathrooms,Brokerage,Build Up Area,Carpet Area,Closest Airport,Closest Airport distance,Closest Atm,...,latitude,link,longitude,Price,property_type,Power Backup Type,Lease type,Price Negotiable,floorinfo1,floorinfo2
0,10,0,2.0,2.0,35000,875,665,Chhatrapati Shivaji International Airport,10000.0,ICICI BANK ATM,...,19.146790,https://housing.com/rent/6412138-875-sqft-2-bh...,72.939331,35000,Apartment,NaN,NaN,NaN,3.0,8.0
1,1,0,1.0,3.0,80000,1250,950,Chhatrapati Shivaji International Airport,9000.0,Hdfc Bank ATM,...,19.169922,https://housing.com/rent/6004379-1250-sqft-3-b...,72.853050,80000,Apartment,NaN,NaN,NaN,2.0,40.0
2,5,0,1.0,2.0,49000,1300,850,Chhatrapati Shivaji International Airport,5700.0,CITI Bank ATM,...,19.047312,https://housing.com/rent/6319014-1300-sqft-2-b...,72.896899,49000,Apartment,NaN,NaN,NaN,2.0,20.0
3,1,0,0.0,1.0,45000,600,480,Chhatrapati Shivaji International Airport,5700.0,ICICI ATM,...,19.094797,https://housing.com/rent/6140044-600-sqft-1-bh...,72.919777,45000,Apartment,NaN,NaN,NaN,1.0,13.0
4,5,0,2.0,4.0,110000,2500,1500,Chhatrapati Shivaji International Airport,3900.0,IDFC Bank Micro ATM,...,19.106112,https://housing.com/rent/6417191-2500-sqft-3-b...,72.898392,115000,Apartment,NaN,NaN,NaN,1.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49338,12,0,0.0,2.0,0,820,NaN,Chhatrapati Shivaji International Airport,5500.0,Axis Bank ATM,...,19.128512,https://housing.com/rent/3740327-820-sqft-2-bh...,72.833784,42000,Apartment,NaN,NaN,NaN,0.0,0.0
49339,10,0,0.0,2.0,26000,600,NaN,Chhatrapati Shivaji International Airport,10000.0,Union Bank ATM,...,19.175414,https://housing.com/rent/1445414-600-sqft-1-bh...,72.838901,26000,Apartment,Partial,NaN,NaN,2.0,8.0
49340,1,0,0.0,2.0,35000,1100,NaN,Chhatrapati Shivaji International Airport,4100.0,HDFC Bank ATM,...,19.064229,https://housing.com/rent/1460514-1100-sqft-2-b...,72.894054,35000,Apartment,None,NaN,NaN,3.0,11.0
49341,12,0,0.0,2.0,15000,340,NaN,Chhatrapati Shivaji International Airport,13100.0,Bank Of Baroda ATM,...,19.201610,https://housing.com/rent/1467908-340-sqft-1-rk...,72.825930,10000,Apartment,None,NaN,NaN,0.0,NaN
49342,1,0,0.0,2.0,48000,1300,NaN,Chhatrapati Shivaji International Airport,4400.0,ICICI Bank ATM,...,19.071259,https://housing.com/rent/1575419-1300-sqft-2.5...,72.902822,48000,Apartment,Partial,NaN,NaN,1.0,13.0

In [487]:
df= finaldf
# finaldf = pd.read_csv('30.csv')
# finaldf

In [488]:
droparr = ['Power Backup','Water Supply', 'Boundary wall present','Construction started','Corner Plot','Length','No. of open sides','Plot Area','Width','Building Name','RERA ID','Width of facing road','Floors allowed for construction','Configurations','Possession Status','Possession Starts', 'Maintenance']

In [489]:
newdict = {
"price": "Price",
"property_type": "property_type",
"sale_type": "sale_type" ,
"longitude": "longitude",
"latitude": "latitude",
"average_price": "Avg. Price",
"listed_by": "listed by",
"address": "address",
"bedrooms" : "Bedrooms",
"bathrooms" : "Bathrooms",
"parking" : "Parking",
"balcony" : "Balcony",
"built_up_area": "Build Up Area", 
"age": "Age of property",
"total_floors": "floorinfo2",
"floor_listing": "floorinfo1",
"facing_direction": "Facing",
"furnished": "Furnished",
"project_name": "Project Name",
"brokerage_cost": "Brokerage",
"carpet_area": "Carpet Area",
"added_info": "Added",
"furnishings": "furn",
"society_amenities": "amen",
"closest_airport": "Closest Airport",
"closest_airport_distance": "Closest Airport distance",
"closest_atm": "Closest Atm",
"closest_atm_distance": "Closest Atm distance",
"closest_bar": "Closest Bar",
"closest_bar_distance": "Closest Bar distance",
"closest_bus": "Closest Bus",
"closest_bus_distance": "Closest Bus distance",
"closest_grocery": "Closest Grocery",
"closest_grocery_distance": "Closest Grocery distance",
"closest_hospital": "Closest Hospital",
"closest_hospital_distance": "Closest Hospital distance",
"closest_mall": "Closest Mall",
"closest_mall_distance": "Closest Mall distance",
"closest_park": "Closest Park",
"closest_park_distance": "Closest Park distance",
"closest_pharmacy": "Closest Pharmacy",
"closest_pharmacy_distance": "Closest Pharmacy distance",
"closest_railway": "Closest Railway",
"closest_railway_distance": "Closest Railway distance",
"closest_restaurant": "Closest Restaurant",
"closest_restaurant_distance": "Closest Restaurant distance",
"closest_theatre": "Closest Theatre",
"closest_theatre_distance": "Closest Theatre distance",
}

In [490]:
finaldict = {}

In [491]:
for key in newdict:
    finaldict[newdict[key]] = key

In [492]:
tempdf = df.rename(columns = finaldict)

In [1]:
# tempdf.drop(columns=droparr,inplace=True)

In [494]:
# tempdf.to_csv("finalout.csv",index=False)

In [495]:
df = tempdf

In [496]:
# df_final = pd.read_csv("finalout.csv")

In [497]:

direction = ['north', 'northeast', 'east', 'southeast', 'south', 'southwest', 'west', 'northwest']
now = datetime.now()

In [498]:
for i in direction:
    df['facing_' + i] = 0 
FFF = df[df['property_type'].isnull()]
for idx,row in FFF.iterrows():
    df.at[idx, 'property_type'] = 'Independent Floor'

In [499]:
numeric = '0123456789-.'
for idx, row in df.iterrows():
#     s = row['average_price'].strip()
#     for i,c in enumerate(s):
#         if c not in numeric:
#             break
#     number = s[:i]
#     unit = s[i:].lstrip()
#     df.at[idx, 'average_price_num'] = number
#     df.at[idx, 'average_price_unit'] = unit
#     df.at
    if(idx % 5000 == 0):
        print(idx)

    soc = row['society_amenities']
#     soc = literal_eval(soc)
    for i in range(len(genericlist)):
        df.at[idx, 'society_amenities_' + genericlist[i]] = soc[i]
    
    furn = row['furnishings']
#     furn = literal_eval(furn)
    for i in range(len(soc_list)):
        df.at[idx, 'furnishings_' + soc_list[i]] = furn[i]
    
    x = row['facing_direction']
    if x > -0.5:
        x = round(x)
        df.at[idx, 'facing_' + direction[x]] = 1 
    
    x = row['Possession status']
    d = 0
    if x != 0 and isinstance(x, str):
        try:
            dt = datetime.strptime(x, '%m-%Y')
            d = (dt - now).days
            if d < 0:
                d = 0
        except:
            df.at[idx, 'Possession status'] = 0
            d = 0
            
    df.at[idx, 'possession_starts_in_days'] = d

0
5000
10000
15000
20000
25000
30000
35000
40000
45000

In [500]:
z = df['society_amenities'][0]
for c in z:
    print(c)

0
0
1
1
1
1
1
1
0
0
1
1
0
1
1

In [501]:
df = df.rename(columns = {"Possession status": "possession_starts"})

In [502]:
for cols in df:
    print(cols)

age
possession_starts
balcony
bathrooms
brokerage_cost
built_up_area
carpet_area
closest_airport
closest_airport_distance
closest_atm
closest_atm_distance
closest_bar
closest_bar_distance
closest_bus
closest_bus_distance
closest_grocery
closest_grocery_distance
closest_hospital
closest_hospital_distance
closest_mall
closest_mall_distance
closest_park
closest_park_distance
closest_pharmacy
closest_pharmacy_distance
closest_railway
closest_railway_distance
closest_restaurant
closest_restaurant_distance
closest_theatre
closest_theatre_distance
Floor number
Furnishing
Gas Pipeline
Gate Community
facing_direction
Maintenance
parking
project_name
Security
address
society_amenities
bedrooms
furnishings
latitude
link
longitude
price
property_type
Power Backup Type
Lease type
Price Negotiable
floor_listing
total_floors
facing_north
facing_northeast
facing_east
facing_southeast
facing_south
facing_southwest
facing_west
facing_northwest
society_amenities_Bore Water
society_amenities_Bore and Municipal water
society_amenities_Garden
society_amenities_Gated Community
society_amenities_Gym
society_amenities_Intercom
society_amenities_Kids Area
society_amenities_Lift
society_amenities_Municipal Water
society_amenities_Parking
society_amenities_Pet Allowed
society_amenities_Pool
society_amenities_Security
society_amenities_Sports Facility
society_amenities_Water Supply
furnishings_AC
furnishings_Bed
furnishings_Cupboard
furnishings_Fridge
furnishings_Gas Pipeline
furnishings_Geyser
furnishings_Intercom
furnishings_Microwave
furnishings_Power Backup
furnishings_Sofa
furnishings_Stove
furnishings_TV
furnishings_Washing Machine
possession_starts_in_days

In [503]:
for idx, row in df.iterrows():
    df.at[idx, 'link'] = row['link'].rstrip('\n')
# df.to_csv('FINAL.csv')

In [504]:
# df = pd.read_csv('FINAL.csv')

In [505]:
# df = df.drop(columns = ['Unnamed: 0'])

In [506]:
ptype = df.property_type.unique()
for t in ptype:
    df['property_type_'+t] = 0

In [518]:
for idx, row in df.iterrows():
    df.at[idx, 'property_type_'+row['property_type']] = 1
#     if(row['listed_by'] == 'owner'):
#         df.at[idx, 'listed_by_owner'] = 1
#     else:
#         df.at[idx, 'listed_by_owner'] = 0

In [526]:
df['furnished_unfurnished'] = 0
df['furnished_fully'] = 0
df['furnished_semi'] = 0

for idx, row in df.iterrows():
    if row['furnished'] == 0:
        df.at[idx, 'furnished_unfurnished'] = 1
    elif row['furnished'] == 1:
        df.at[idx, 'furnished_semi'] = 1
    elif row['furnished'] == 2:
        df.at[idx, 'furnished_fully'] = 1

In [ ]:
df[['Furnishing', 'furnished_fully', 'furnished_semi', 'furnished_unfurnished']]

In [527]:
for col in df:
    print(col)

price
property_type
property_type_Apartment
property_type_Independent House
property_type_Villa
property_type_Independent Floor
longitude
latitude
address
bedrooms
bathrooms
parking
balcony
built_up_area
Gate Community
Gas Pipeline
Security
possession_starts
possession_starts_in_days
age
total_floors
floor_listing
facing_direction
facing_north
facing_northeast
facing_east
facing_southeast
facing_south
facing_southwest
facing_west
facing_northwest
furnished
furnished_unfurnished
furnished_fully
furnished_semi
project_name
brokerage_cost
carpet_area
furnishings
furnishings_AC
furnishings_Bed
furnishings_Cupboard
furnishings_Fridge
furnishings_Gas Pipeline
furnishings_Geyser
furnishings_Intercom
furnishings_Microwave
furnishings_Power Backup
furnishings_Sofa
furnishings_Stove
furnishings_TV
furnishings_Washing Machine
society_amenities
society_amenities_Bore Water
society_amenities_Bore and Municipal water
society_amenities_Garden
society_amenities_Gated Community
society_amenities_Gym
society_amenities_Intercom
society_amenities_Kids Area
society_amenities_Lift
society_amenities_Municipal Water
society_amenities_Parking
society_amenities_Pet Allowed
society_amenities_Pool
society_amenities_Security
society_amenities_Sports Facility
society_amenities_Water Supply
closest_airport
closest_airport_distance
closest_atm
closest_atm_distance
closest_bar
closest_bar_distance
closest_bus
closest_bus_distance
closest_grocery
closest_grocery_distance
closest_hospital
closest_hospital_distance
closest_mall
closest_mall_distance
closest_park
closest_park_distance
closest_pharmacy
closest_pharmacy_distance
closest_railway
closest_railway_distance
closest_restaurant
closest_restaurant_distance
closest_theatre
closest_theatre_distance
link

In [528]:
# price
# property_type
# sale_type
# longitude
# latitude
# average_price
# listed_by
# address
# bedrooms
# bathrooms
# parking
# balcony
# built_up_area
# possession_starts
# age
# total_floors
# floor_listing
# facing_direction
# furnished
# project_name
# brokerage_cost
# carpet_area
# added_info
# description
# furnishings
# society_amenities
# closest_X
# closest_X_distance

In [529]:
df = df.rename(columns = {'Furnishing': 'furnished'})

In [530]:
f = open('rentcols.txt', 'r')
ls = f.readlines()
cols = []
for e in ls:
    c = e.strip()
    if c != '':
        cols.append(c)

In [531]:
len(cols)

93

In [532]:
df = df[cols]
df

,price,property_type,property_type_Apartment,property_type_Independent House,property_type_Villa,property_type_Independent Floor,longitude,latitude,address,bedrooms,...,closest_park_distance,closest_pharmacy,closest_pharmacy_distance,closest_railway,closest_railway_distance,closest_restaurant,closest_restaurant_distance,closest_theatre,closest_theatre_distance,link
0,35000,Apartment,1,0,0,0,72.939331,19.146790,"L.b.s Marg, Bhandup West",2,...,200.0,City Center Pharmacy,100.0,Bhandup Railway Station,500.0,Rajwada,200.0,Carnival Cinemas,300.0,https://housing.com/rent/6412138-875-sqft-2-bh...
1,80000,Apartment,1,0,0,0,72.853050,19.169922,"Vishveshwar Nagar Rd, Near Umiya Mata Mandir, ...",3,...,2400.0,jp's samrat medical store,300.0,Goregaon Railway Station,700.0,Sapre & Sons Restaurant,700.0,PVR Icon Cinemas Pxl (Oberoi Mall),900.0,https://housing.com/rent/6004379-1250-sqft-3-b...
2,49000,Apartment,1,0,0,0,72.896899,19.047312,Chembur,2,...,200.0,Trilochan Medical,100.0,Fertiliser Township Mono Rail,500.0,Hotel Stars Parade,500.0,Movie Time Cinemas (Cubic Mall),700.0,https://housing.com/rent/6319014-1300-sqft-2-b...
3,45000,Apartment,1,0,0,0,72.919777,19.094797,Vikhroli East,1,...,200.0,Sneha Medical & General Stores,400.0,Ghatkopar Metro Station,1500.0,Akarshan Family Restaurant,2000.0,Neelyog Square,1600.0,https://housing.com/rent/6140044-600-sqft-1-bh...
4,115000,Apartment,1,0,0,0,72.898392,19.106112,Nahar Burberry Bryony,3,...,1200.0,Hayat Medico,300.0,Saki Naka Metro Station,1100.0,Rahat Darbar,1000.0,Neelyog Square,2600.0,https://housing.com/rent/6417191-2500-sqft-3-b...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49338,42000,Apartment,1,0,0,0,72.833784,19.128512,"Andheri West, Mumbai",2,...,200.0,Diamond Chemist,2300.0,D. N. Nagar Metro Station,400.0,Doh,700.0,Mukta A2 Cinemas,2900.0,https://housing.com/rent/3740327-820-sqft-2-bh...
49339,26000,Apartment,1,0,0,0,72.838901,19.175414,"Vasari Hill Road, Near Green Hotel, Sunder Nagar",1,...,900.0,Lifecure Pharmacy,200.0,Malad Railway Station,1600.0,Radha Krishna Restaurant,2900.0,Purvi Cinemas,300.0,https://housing.com/rent/1445414-600-sqft-1-bh...
49340,35000,Apartment,1,0,0,0,72.894054,19.064229,"Shakar Nagar Road, Near Shakar Super Market, S...",2,...,300.0,Jay Tirupati Chemist,200.0,Tilak Nagar Railway Station,500.0,Navgraha Restaurant,1000.0,Sahakar Plaza Cinema,700.0,https://housing.com/rent/1460514-1100-sqft-2-b...
49341,10000,Apartment,1,0,0,0,72.825930,19.201610,"Old Link Road, Near Atm, Ekta Nagar",1,...,300.0,Old Mahada,0.0,Kandivali Railway Station,2700.0,Radha Krishna Restaurant,800.0,Kallu Video Center,400.0,https://housing.com/rent/1467908-340-sqft-1-rk...
49342,48000,Apartment,1,0,0,0,72.902822,19.071259,"Road Number 4, Near Pestam Nagar Bus Stop, Pos...",2,...,100.0,Sai Pharma Medical & General Store,100.0,Chembur Railway Station,1000.0,Navgraha Restaurant,200.0,Sahakar Plaza Cinema,500.0,https://housing.com/rent/1575419-1300-sqft-2.5...

In [533]:
df[:20].to_csv('final_demo.csv')
df.to_csv('FINAL.csv')

In [ ]:
print(df["Gas Pipeline"].unique())

In [ ]:
df = pd.read_csv('output.csv')
ls = []
for i in df['amen'].unique():
    f = literal_eval(i)
    for e in f:
        ls.append(e)
        
np.unique(ls)

In [ ]:
df = pd.read_csv('output.csv')
ls = []
for i in df['furn'].unique():
    f = literal_eval(i)
    for e in f:
        ls.append(e)
        
np.unique(ls)

In [ ]:
for i in df['link'][df['property_type'].isnull()]:
    print(i)

In [ ]:
for cols in df:
    print(cols)

In [ ]:
df['property_type'].unique()

In [ ]:
df['possession']

In [4]:
df = pd.read_csv('master.csv')

/usr/local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (53,54,63,64,66,67,68) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
df

,Added,Age of property,Avg. Price,Balcony,Bathrooms,Bedrooms,Brokerage,Build Up Area,Carpet Area,Closest Airport,...,No. of open sides,Plot Area,Width,Building Name,RERA ID,Width of facing road,Floors allowed for construction,Configurations,Possession Starts,Possession Status
0,5 days ago,3 Year,13.60 K/sq.ft,No Balcony,2.0,1.0,"85,000",625 sq.ft,448 sq.ft,Chhatrapati Shivaji International Airport,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,19 days ago,NaN,3.81 K/sq.ft,2,1.0,1.0,No Charge,600 sq.ft,420 sq.ft,"Kalyan Airstrip, Nevali",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8 days ago,NaN,12.14 K/sq.ft,No Balcony,2.0,1.0,No Charge,529 sq.ft,321 sq.ft,Chhatrapati Shivaji International Airport,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,28 days ago,NaN,3.41 K/sq.ft,No Balcony,1.0,1.0,No Charge,601 sq.ft,391 sq.ft,"Kalyan Airstrip, Nevali",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6 days ago,NaN,7.62 K/sq.ft,3,2.0,1.0,No Charge,774 sq.ft,513 sq.ft,Chhatrapati Shivaji International Airport,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117767,More than a month ago,1 Years,3.52 K/sq.ft,2,2.0,2.0,No Charge,810 sq.ft,567 sq.ft,"Kalyan Airstrip, Nevali",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117768,More than a month ago,10 Year,21.32 K/sq.ft,1,2.0,2.0,2.1 Lacs,985 sq.ft,650 sq.ft,Chhatrapati Shivaji International Airport,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117769,More than a month ago,10 Year,16.27 K/sq.ft,1,2.0,2.0,1.8 Lacs,1100 sq.ft,785 sq.ft,Chhatrapati Shivaji International Airport,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117770,More than a month ago,25 Year,23.98 K/sq.ft,2,2.0,2.0,2.4 Lacs,980 sq.ft,850 sq.ft,Chhatrapati Shivaji International Airport,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117771,More than a month ago,NaN,8.01 K/sq.ft,4,2.0,2.0,No Charge,974 sq.ft,666 sq.ft,Chhatrapati Shivaji International Airport,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN