In [91]:
import pandas as pd
import numpy as np
from ast import literal_eval
from datetime import datetime

In [228]:
# df = pd.read_csv("0.csv")

In [230]:
# ct = 0
# for idx, row in df.iterrows():
#     ct += 1
# ct

In [231]:
# df = pd.read_csv("0.csv")
# process(df)

In [232]:
# df.to_csv("tempout.csv",index=False)

In [92]:
def isNaN(num):
    return num != num

In [93]:
def process_buildup(buildup):
    if buildup =="" or isNaN(buildup):
        return -1
    if isinstance(buildup,int) or isinstance(buildup,float):
        return buildup
    return int(buildup.split(" ")[0])

In [94]:
def process_added(added):
    if added=="" or isNaN(added):
        return 0
    if added=="Just now":
        return 0
    if added == "More than a month ago":
        return 100
    else:
        return int(added.split(" ")[0])

In [95]:
def process_carpet(carpet):
    if carpet =="":
        return -1
    if isinstance(carpet,int) or isinstance(carpet,float):
        return carpet
    return int(carpet.split(" ")[0])

In [96]:
def process_age(age):
    if age=="":
        return 0
    if isinstance(age, int) or isinstance(age,float):
        return age
    else:
        return int(age.split(" ")[0])

In [97]:
def process_avg(avg):
    if(avg==""):
        return -1
    if isinstance(avg,float):
        num1 = avg
    else: 
        temp = avg.split(" ")[0]
        numeric_string = re.sub("[^0-9.]", "", temp)
        num1 = float(numeric_string)
    return num1 * 1000

In [98]:
genericlist= ['24 Hrs Concierge', '24x7 Security', 'ATM', 'Amphitheatre',
       'Badminton Court', 'Basketball Court', 'Bore Water',
       'Bore and Municipal water', 'Children Play Area', 'Community Hall',
       'Cricket Pitch', 'Cycling & Jogging Track', 'Day Care Center',
       'Earthquake Resistant Structure', 'Fire Fighting Systems',
       'Garden', 'Gated Community', 'Gym', 'Indoor Game Room',
       'Internal Roads', 'Internet', 'Kids Area', 'Landscaped Garden',
       'Library', 'Lift', 'Municipal Water', 'Pool', 'Power Backup',
       'Rainwater Harvesting', 'Restaurant', 'Security', 'Servent Room',
       'Sewage Treatment Plant', 'Skating Rink', 'Spa', 'Sports Area',
       'Sports Facility', 'Squash Court', 'Swimming Pool', 'Tennis Court',
       'Utility Shops', 'Water Supply', 'Yoga Room']

In [99]:
# Lift:0, Swimming pool:1, Gym:2, Parking:3, Gated Community:4
def process_amen(amen):
    amen_list = []
    for i in genericlist:
        if i in amen:
            amen_list.append(1)
        else:
            amen_list.append(0)
    return amen_list

In [100]:
# gaspipline:0, powerbackup:1
soc_list = ["Gas Pipeline", "Power Backup"]
def process_furn(furn):
    list_furn = []
    for i in soc_list:
        if i in furn:
            list_furn.append(0)
        else:
            list_furn.append(1)
    return list_furn

In [101]:
def process_balcony(balcony):
    if(balcony==""):
        return 0
    if(balcony=="No Balcony" or isNaN(balcony)):
        return 0
    else:
        return int(balcony)

In [102]:
def process_parking(parking):
    if(parking==""):
        return 0
    if(parking=="No Parking"):
        return 0
    else:
        if isinstance(parking,int) or isinstance(parking,float):
            return parking
        return int(parking.split(" ")[0])

In [103]:
# 1 for lower, 2 for middle, 3 for higher
def process_floorinfo1(f1):
    if(f1==""):
        return 0
    if(f1=="Lower" or f1=="Ground Floor" or f1=="1st"):
        return 1
    elif(f1=="Middle"):
        return 2
    elif f1=="Higher":
        return 3
    else:
        return 0

In [104]:
def process_floorinfo2(f2):
    if(isinstance(f2,int) or isinstance(f2,float)):
        return f2
    if f2=="" or len(f2.split(" "))<2:
        return 0
    return int(f2.split(" ")[1])

In [105]:
# 0 for unfurnished, 1 for semi furnished, 2 for fully furnished
def process_furnishing(fur):
    if(fur == "Unfurnished"):
        return 0
    elif(fur=="Semi Furnished"):
        return 1
    elif fur=="Fully Furnished":
        return 2
    else:
        return 0

In [106]:
def process_facing(facing):
    if isinstance(facing,float):
        return facing
    facing = facing.lower()
    if facing=="north":
        return 0
    elif facing=="north-east":
        return 1
    elif facing=="east":
        return 2
    elif facing=="south-east":
        return 3
    elif facing=="south":
        return 4
    elif facing=="south-west":
        return 5
    elif facing=="west":
        return 6
    elif facing=="north-west":
        return 7
    else:
        return -1

In [107]:
def process_price(price):
    if(price=="" or isNaN(price)):
        return 0
    num1 = (price.split(" ")[0])
    numeric_string = re.sub("[^0-9.]", "", num1)
    num1 = float(numeric_string)
    if len(price.split(" "))>1:      
        if price.split(" ")[1]=="L":
            return num1 * 100000
        else:
            return num1 * 10000000
    else:
        return 0

In [108]:
def process_emi(emi):
    if(emi==""):
        return 0
    num1 = float(emi.split(" ")[0])
    if len(emi.split(" "))>1:      
        if emi.split(" ")[1]=="K":
            return num1 * 1000
        else:
            return num1 * 100000
    else:
        return 0

In [109]:
monthmap = {
    "Jan,": "01",
    "Feb,": "02",
    "Mar,": "03",
    "Apr,": "04",
    "May,": "05",
    "Jun,": "06",
    "Jul,": "07",
    "Aug,": "08",
    "Sep,": "09",
    "Oct,": "10",
    "Nov,": "11",
    "Dec,": "12"
}

In [110]:
def process_possession(poss):
    if poss=="":
        return 0
    if poss=="Ready to move in":
        return 0
    else:
        if isinstance(poss,float) or isinstance(poss,int):
            return poss
        arr = poss.split(" ")
        if(len(arr)!=3):
            return 0
        year = arr[2]
        ans = monthmap[arr[1]] + "-" + year
        return ans

In [111]:
import re
def process_brokerage(brok):
    if brok=="":
        return 0
    if isinstance(brok, float) or isinstance(brok, int):
        return brok
    if "No Charge" in brok:
        return 0
    else:
        numeric_string = re.sub("[^0-9.]", "", brok)
        num1 = float(numeric_string)
        if("Lac" in brok):
            return num1 * 100000
        if("Cr" in brok):
            return num1 * 10000000
        return num1

In [112]:
# # data consistency checker
# print(len(df))
# print(df['property_type'].unique())
# print(len(df[df['property_type'].isin(['Apartment', 'Plot', 'Independent House', 'Villa', 'Agricultural Land'])]))
# print(df['sale_type'].unique())
# print(df['longitude'].isnull().count())
# print(df['latitude'].isnull().count())
# print(len(df['Build Up Area'].str.endswith("sq.ft")))
# print(len(df['Carpet Area'].str.endswith("sq.ft")))
# print(len(df['Avg. Price'].str.endswith("K/sq.ft")))
# print(len(df[df['listed by'].isin(['agent', 'owner'])]))
# print(len(df[df['address'] == '']))

In [114]:
def process(df):
    for i, row in df.iterrows():
        df.at[i, 'Age of property'] = process_age(row['Age of property'])
        #df.at[i, 'Avg. Price'] = process_avg(row['Avg. Price'])
        df.at[i, 'Balcony'] = process_balcony(row['Balcony'])
        df.at[i,'Bedrooms'] = (row['Bedrooms'])
        df.at[i,'Brokerage'] = process_brokerage(row['Brokerage'])
        df.at[i,'Build Up Area'] = process_buildup(row['Build Up Area'])
        df.at[i,'Carpet Area'] = process_carpet(row['Carpet Area'])
        df.at[i,'Furnishing'] = process_furnishing(row['Furnishing'])
        df.at[i,'Parking'] = process_parking(row['Parking'])
        df.at[i,'Possession status'] = process_possession(row['Possession status'])
        df.at[i,'Price'] = process_price(row['Price'])
        #df.at[i,'emi'] = process_emi(row['emi'])
        df.at[i,'floorinfo1'] = process_floorinfo1(row['floorinfo1'])
        df.at[i,'floorinfo2'] = process_floorinfo2(row['floorinfo2'])
        df.at[i,'amen'] = process_amen(row['amen'])
        df.at[i,'furn'] = process_furn(row['furn'])
        df.at[i,'Facing'] = process_facing(row['Facing'])
        df.at[i,'Age of property'] = process_age(row['Age of property'])
        df.at[i,'Added'] = process_added(row['Added'])
        
        if( i%5000 == 0):
            print(i)

In [115]:
finaldf = pd.read_csv("30.csv")
final
process(finaldf)
finaldf.to_csv("finaldf.csv",index=False)

KeyError: 'Bedrooms'

In [122]:
df= finaldf
finaldf = pd.read_csv('30.csv')
finaldf

,Age of property,Available from,Bathrooms,Brokerage,Build up area,Closest Airport,Closest Airport distance,Closest Atm,Closest Atm distance,Closest Bar,...,furn,latitude,link,longitude,price,property_type,Balcony,Floor number,Carpet area,Maintenance
0,5 years,Available now,2.0,"26,000",650 sq.ft,Chhatrapati Shivaji International Airport,5200.0,HDFC Bank ATM,500.0,Astrix,...,"['Gas Pipeline', 'Geyser']",19.065982,https://housing.com/rent/1446225-650-sqft-1-bh...,72.908728,"25,000",Apartment,NaN,NaN,NaN,NaN
1,2 years,Available now,1.0,"6,000",500 sq.ft,Juhu Airport,29600.0,HDFC Bank ATM,900.0,NaN,...,[],19.362743,https://housing.com/rent/6317627-500-sqft-1-bh...,72.859299,"6,000",Apartment,3.0,Higher of 14 floors,NaN,NaN
2,3 years,Available now,1.0,"6,500(Negotiable)",610 sq.ft,Juhu Airport,29600.0,HDFC Bank ATM,1300.0,NaN,...,[],19.363209,https://housing.com/rent/6317639-610-sqft-1-bh...,72.863045,"6,500",Apartment,3.0,Higher of 7 floors,NaN,NaN
3,10 years,Available now,2.0,"80,000(Negotiable)",1022 sq.ft,Chhatrapati Shivaji International Airport,5300.0,Standard Chartered Bank ATM,200.0,Casa Vito Bar & Cafe,...,"['Fridge', 'Intercom', 'Washing Machine', 'Sof...",19.056357,https://housing.com/rent/5932342-1022-sqft-2-b...,72.828828,"80,000",Apartment,1.0,Middle of 9 floors,780 sq.ft,NaN
4,10 years,Available now,2.0,"85,000(Negotiable)",1000 sq.ft,Chhatrapati Shivaji International Airport,5400.0,Standard Chartered Bank ATM,200.0,Casa Vito Bar & Cafe,...,['Gas Pipeline'],19.056115,https://housing.com/rent/5934225-1000-sqft-2-b...,72.828712,"85,000",Apartment,NaN,Higher of 8 floors,800 sq.ft,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,5 years,Available now,2.0,"32,000",965 sq.ft,Chhatrapati Shivaji International Airport,2400.0,Kotak Mahindra Bank ATM,400.0,Joyal Nightclub,...,['Intercom'],19.079922,https://housing.com/rent/5430419-965-sqft-2-bh...,72.885872,"32,000",Apartment,2.0,Middle of 12 floors,715 sq.ft,NaN
496,8 years,Available now,2.0,"45,000",1225 sq.ft,Chhatrapati Shivaji International Airport,2200.0,Kotak Mahindra Bank ATM,500.0,Joyal Nightclub,...,"['Gas Pipeline', 'Intercom', 'Stove']",19.076423,https://housing.com/rent/5430741-1225-sqft-3-b...,72.881481,"45,000",Apartment,4.0,Lower of 7 floors,875 sq.ft,NaN
497,8 years,Available now,3.0,1.4 Lacs,1780 sq.ft,Chhatrapati Shivaji International Airport,4000.0,"ICICI Bank Khar West, Mumbai - Branch & ATM",200.0,Casa Vito Bar & Cafe,...,['Gas Pipeline'],19.070249,https://housing.com/rent/5771712-1780-sqft-3-b...,72.833420,"1,50,000",Apartment,4.0,Lower of 7 floors,1250 sq.ft,NaN
498,25 years,Available now,1.0,"75,000",670 sq.ft,Chhatrapati Shivaji International Airport,6900.0,Kotak Mahindra Bank ATM,900.0,Casa Vito Bar & Cafe,...,"['Gas Pipeline', 'Fridge', 'Washing Machine', ...",19.045220,https://housing.com/rent/5770948-670-sqft-1-bh...,72.820250,"82,000",Apartment,2.0,Higher of 7 floors,550 sq.ft,NaN
499,1 year,Available now,5.0,2.8 Lacs,2000 sq.ft,Chhatrapati Shivaji International Airport,3700.0,Axis ATM,200.0,Casa Vito Bar & Cafe,...,"['Gas Pipeline', 'Fridge', 'Intercom', 'Washin...",19.059143,https://housing.com/rent/5886444-2000-sqft-4-b...,72.852081,"2,75,000",Apartment,1.0,Higher of 23 floors,1715 sq.ft,NaN

In [259]:
droparr = ['Power Backup','Water Supply', 'Boundary wall present','Construction started','Corner Plot','Length','No. of open sides','Plot Area','Width','Building Name','RERA ID','Width of facing road','Floors allowed for construction','Configurations','Possession Status','Possession Starts']

In [260]:
newdict = {
"price": "Price",
"property_type": "property_type",
"sale_type": "sale_type" ,
"longitude": "longitude",
"latitude": "latitude",
"average_price": "Avg. Price",
"listed_by": "listed by",
"address": "address",
"bedrooms" : "Bedrooms",
"bathrooms" : "Bathrooms",
"parking" : "Parking",
"balcony" : "Balcony",
"built_up_area": "Build Up Area", 
"age": "Age of property",
"total_floors": "floorinfo2",
"floor_listing": "floorinfo1",
"facing_direction": "Facing",
"furnished": "Furnished",
"project_name": "Project Name",
"brokerage_cost": "Brokerage",
"carpet_area": "Carpet Area",
"added_info": "Added",
"furnishings": "furn",
"society_amenities": "amen",
"closest_airport": "Closest Airport",
"closest_airport_distance": "Closest Airport distance",
"closest_atm": "Closest Atm",
"closest_atm_distance": "Closest Atm distance",
"closest_bar": "Closest Bar",
"closest_bar_distance": "Closest Bar distance",
"closest_bus": "Closest Bus",
"closest_bus_distance": "Closest Bus distance",
"closest_grocery": "Closest Grocery",
"closest_grocery_distance": "Closest Grocery distance",
"closest_hospital": "Closest Hospital",
"closest_hospital_distance": "Closest Hospital distance",
"closest_mall": "Closest Mall",
"closest_mall_distance": "Closest Mall distance",
"closest_park": "Closest Park",
"closest_park_distance": "Closest Park distance",
"closest_pharmacy": "Closest Pharmacy",
"closest_pharmacy_distance": "Closest Pharmacy distance",
"closest_railway": "Closest Railway",
"closest_railway_distance": "Closest Railway distance",
"closest_restaurant": "Closest Restaurant",
"closest_restaurant_distance": "Closest Restaurant distance",
"closest_theatre": "Closest Theatre",
"closest_theatre_distance": "Closest Theatre distance",
}

In [261]:
finaldict = {}

In [262]:
for key in newdict:
    finaldict[newdict[key]] = key

In [263]:
tempdf = df.rename(columns = finaldict)

In [264]:
tempdf.drop(columns=droparr,inplace=True)

In [265]:
tempdf.to_csv("finalout.csv",index=False)

In [266]:
df = tempdf

In [267]:
# df_final = pd.read_csv("finalout.csv")

In [268]:

direction = ['north', 'northeast', 'east', 'southeast', 'south', 'southwest', 'west', 'northwest']
now = datetime.now()

In [269]:
for i in direction:
    df['facing_' + i] = 0 
FFF = df[df['property_type'].isnull()]
for idx,row in FFF.iterrows():
    df.at[idx, 'property_type'] = 'Independent Floor'

In [290]:
numeric = '0123456789-.'
for idx, row in df.iterrows():
    s = row['average_price'].strip()
    for i,c in enumerate(s):
        if c not in numeric:
            break
    number = s[:i]
    unit = s[i:].lstrip()
    df.at[idx, 'average_price_num'] = number
    df.at[idx, 'average_price_unit'] = unit
    df.at
    if(idx % 5000 == 0):
        print(idx)

    soc = row['society_amenities']
#     soc = literal_eval(soc)
    for i in range(len(genericlist)):
        df.at[idx, 'society_amenities_' + genericlist[i]] = soc[i]
    
    furn = row['furnishings']
#     furn = literal_eval(furn)
    for i in range(len(soc_list)):
        df.at[idx, 'furnishings_' + soc_list[i]] = furn[i]
    
    x = row['facing_direction']
    if x > -0.5:
        x = round(x)
        df.at[idx, 'facing_' + direction[x]] = 1 
    
    x = row['Possession status']
    d = 0
    if x != 0 and isinstance(x, str):
        try:
            dt = datetime.strptime(x, '%m-%Y')
            d = (dt - now).days
        except:
            df.at[idx, 'Possession status'] = 0
            d = 0
            
    df.at[idx, 'possession_starts_in_days'] = d

0
5000
10000
15000
20000
25000
30000
35000
40000
45000
50000
55000
60000
65000
70000
75000
80000
85000
90000
95000
100000
105000
110000
115000

In [291]:
df.rename('P')

,added_info,age,average_price,balcony,bathrooms,bedrooms,brokerage_cost,built_up_area,carpet_area,closest_airport,...,society_amenities_Sports Facility,society_amenities_Squash Court,society_amenities_Swimming Pool,society_amenities_Tennis Court,society_amenities_Utility Shops,society_amenities_Water Supply,society_amenities_Yoga Room,furnishings_Gas Pipeline,furnishings_Power Backup,possession_starts_in_days
0,5,3,13.60 K/sq.ft,0,2.0,1.0,85000,625,448,Chhatrapati Shivaji International Airport,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,19,NaN,3.81 K/sq.ft,2,1.0,1.0,0,600,420,"Kalyan Airstrip, Nevali",...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,21.0
2,8,NaN,12.14 K/sq.ft,0,2.0,1.0,0,529,321,Chhatrapati Shivaji International Airport,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,965.0
3,28,NaN,3.41 K/sq.ft,0,1.0,1.0,0,601,391,"Kalyan Airstrip, Nevali",...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,21.0
4,6,NaN,7.62 K/sq.ft,3,2.0,1.0,0,774,513,Chhatrapati Shivaji International Airport,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,600.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117767,100,1,3.52 K/sq.ft,2,2.0,2.0,0,810,567,"Kalyan Airstrip, Nevali",...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
117768,100,10,21.32 K/sq.ft,1,2.0,2.0,210000,985,650,Chhatrapati Shivaji International Airport,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
117769,100,10,16.27 K/sq.ft,1,2.0,2.0,180000,1100,785,Chhatrapati Shivaji International Airport,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
117770,100,25,23.98 K/sq.ft,2,2.0,2.0,240000,980,850,Chhatrapati Shivaji International Airport,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
117771,100,NaN,8.01 K/sq.ft,4,2.0,2.0,0,974,666,Chhatrapati Shivaji International Airport,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,235.0

In [ ]:
z = df['society_amenities'][0]
for c in z:
    print(c)

In [306]:
df = df.rename(columns = {" possesion_starts": "possession_starts"})

In [307]:
for cols in df:
    print(cols)

added_info
age
average_price
balcony
bathrooms
bedrooms
brokerage_cost
built_up_area
carpet_area
closest_airport
closest_airport_distance
closest_atm
closest_atm_distance
closest_bar
closest_bar_distance
closest_bus
closest_bus_distance
closest_grocery
closest_grocery_distance
closest_hospital
closest_hospital_distance
closest_mall
closest_mall_distance
closest_park
closest_park_distance
closest_pharmacy
closest_pharmacy_distance
closest_railway
closest_railway_distance
closest_restaurant
closest_restaurant_distance
closest_theatre
closest_theatre_distance
facing_direction
Furnishing
parking
possession_starts
price
address
society_amenities
bhk
emi
floor_listing
total_floors
furnishings
latitude
link
listed_by
longitude
property_type
sale_type
Configuration
project_name
facing_north
facing_northeast
facing_east
facing_southeast
facing_south
facing_southwest
facing_west
facing_northwest
average_price_num
average_price_unit
society_amenities_24 Hrs Concierge
society_amenities_24x7 Security
society_amenities_ATM
society_amenities_Amphitheatre
society_amenities_Badminton Court
society_amenities_Basketball Court
society_amenities_Bore Water
society_amenities_Bore and Municipal water
society_amenities_Children Play Area
society_amenities_Community Hall
society_amenities_Cricket Pitch
society_amenities_Cycling & Jogging Track
society_amenities_Day Care Center
society_amenities_Earthquake Resistant Structure
society_amenities_Fire Fighting Systems
society_amenities_Garden
society_amenities_Gated Community
society_amenities_Gym
society_amenities_Indoor Game Room
society_amenities_Internal Roads
society_amenities_Internet
society_amenities_Kids Area
society_amenities_Landscaped Garden
society_amenities_Library
society_amenities_Lift
society_amenities_Municipal Water
society_amenities_Pool
society_amenities_Power Backup
society_amenities_Rainwater Harvesting
society_amenities_Restaurant
society_amenities_Security
society_amenities_Servent Room
society_amenities_Sewage Treatment Plant
society_amenities_Skating Rink
society_amenities_Spa
society_amenities_Sports Area
society_amenities_Sports Facility
society_amenities_Squash Court
society_amenities_Swimming Pool
society_amenities_Tennis Court
society_amenities_Utility Shops
society_amenities_Water Supply
society_amenities_Yoga Room
furnishings_Gas Pipeline
furnishings_Power Backup
possession_starts_in_days

In [310]:
for idx, row in df.iterrows():
    df.at[idx, 'link'] = row['link'].rstrip('\n')
df.to_csv('FINAL.csv')

In [29]:
# df = pd.read_csv('FINAL.csv')

In [30]:
# df = df.drop(columns = ['Unnamed: 0'])

In [31]:
ptype = df.property_type.unique()
for t in ptype:
    df['property_type_'+t] = 0

In [32]:
for idx, row in df.iterrows():
    df.at[idx, 'property_type_'+row['property_type']] = 1
    if(row['listed_by'] == 'owner'):
        df.at[idx, 'listed_by_owner'] = 1
    else:
        df.at[idx, 'listed_by_owner'] = 0

In [45]:
df['furnished_unfurnished'] = 0
df['furnished_fully'] = 0
df['furnished_semi'] = 0

for idx, row in df.iterrows():
    if row['Furnishing'] == 0:
        df.at[idx, 'furnished_unfurnished'] = 1
    elif row['Furnishing'] == 1:
        df.at[idx, 'furnished_semi'] = 1
    elif row['Furnishing'] == 2:
        df.at[idx, 'furnished_fully'] = 1

In [48]:
df[['Furnishing', 'furnished_fully', 'furnished_semi', 'furnished_unfurnished']]

        Furnishing  furnished_fully  furnished_semi  furnished_unfurnished
0                0                0               0                      1
1                0                0               0                      1
2                0                0               0                      1
3                0                0               0                      1
4                0                0               0                      1
...            ...              ...             ...                    ...
117767           0                0               0                      1
117768           1                0               1                      0
117769           1                0               1                      0
117770           1                0               1                      0
117771           1                0               1                      0

[117772 rows x 4 columns]

In [55]:
df

,added_info,age,average_price,balcony,bathrooms,bedrooms,brokerage_cost,built_up_area,carpet_area,closest_airport,...,property_type_Apartment,property_type_Plot,property_type_Independent House,property_type_Villa,property_type_Independent Floor,property_type_Agricultural Land,listed_by_owner,furnished_unfurnished,furnished_fully,furnished_semi
0,5,3.0,13.60 K/sq.ft,0,2.0,1.0,85000.0,625,448.0,Chhatrapati Shivaji International Airport,...,1,0,0,0,0,0,0.0,1,0,0
1,19,NaN,3.81 K/sq.ft,2,1.0,1.0,0.0,600,420.0,"Kalyan Airstrip, Nevali",...,1,0,0,0,0,0,0.0,1,0,0
2,8,NaN,12.14 K/sq.ft,0,2.0,1.0,0.0,529,321.0,Chhatrapati Shivaji International Airport,...,1,0,0,0,0,0,0.0,1,0,0
3,28,NaN,3.41 K/sq.ft,0,1.0,1.0,0.0,601,391.0,"Kalyan Airstrip, Nevali",...,1,0,0,0,0,0,0.0,1,0,0
4,6,NaN,7.62 K/sq.ft,3,2.0,1.0,0.0,774,513.0,Chhatrapati Shivaji International Airport,...,1,0,0,0,0,0,0.0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117767,100,1.0,3.52 K/sq.ft,2,2.0,2.0,0.0,810,567.0,"Kalyan Airstrip, Nevali",...,1,0,0,0,0,0,0.0,1,0,0
117768,100,10.0,21.32 K/sq.ft,1,2.0,2.0,210000.0,985,650.0,Chhatrapati Shivaji International Airport,...,1,0,0,0,0,0,0.0,0,0,1
117769,100,10.0,16.27 K/sq.ft,1,2.0,2.0,180000.0,1100,785.0,Chhatrapati Shivaji International Airport,...,1,0,0,0,0,0,0.0,0,0,1
117770,100,25.0,23.98 K/sq.ft,2,2.0,2.0,240000.0,980,850.0,Chhatrapati Shivaji International Airport,...,1,0,0,0,0,0,0.0,0,0,1
117771,100,NaN,8.01 K/sq.ft,4,2.0,2.0,0.0,974,666.0,Chhatrapati Shivaji International Airport,...,1,0,0,0,0,0,0.0,0,0,1

In [59]:
for col in df:
    print(col)

added_info
age
average_price
balcony
bathrooms
bedrooms
brokerage_cost
built_up_area
carpet_area
closest_airport
closest_airport_distance
closest_atm
closest_atm_distance
closest_bar
closest_bar_distance
closest_bus
closest_bus_distance
closest_grocery
closest_grocery_distance
closest_hospital
closest_hospital_distance
closest_mall
closest_mall_distance
closest_park
closest_park_distance
closest_pharmacy
closest_pharmacy_distance
closest_railway
closest_railway_distance
closest_restaurant
closest_restaurant_distance
closest_theatre
closest_theatre_distance
facing_direction
Furnishing
parking
possession_starts
price
address
society_amenities
bhk
emi
floor_listing
total_floors
furnishings
latitude
link
listed_by
longitude
property_type
sale_type
Configuration
project_name
facing_north
facing_northeast
facing_east
facing_southeast
facing_south
facing_southwest
facing_west
facing_northwest
average_price_num
average_price_unit
society_amenities_24 Hrs Concierge
society_amenities_24x7 Security
society_amenities_ATM
society_amenities_Amphitheatre
society_amenities_Badminton Court
society_amenities_Basketball Court
society_amenities_Bore Water
society_amenities_Bore and Municipal water
society_amenities_Children Play Area
society_amenities_Community Hall
society_amenities_Cricket Pitch
society_amenities_Cycling & Jogging Track
society_amenities_Day Care Center
society_amenities_Earthquake Resistant Structure
society_amenities_Fire Fighting Systems
society_amenities_Garden
society_amenities_Gated Community
society_amenities_Gym
society_amenities_Indoor Game Room
society_amenities_Internal Roads
society_amenities_Internet
society_amenities_Kids Area
society_amenities_Landscaped Garden
society_amenities_Library
society_amenities_Lift
society_amenities_Municipal Water
society_amenities_Pool
society_amenities_Power Backup
society_amenities_Rainwater Harvesting
society_amenities_Restaurant
society_amenities_Security
society_amenities_Servent Room
society_amenities_Sewage Treatment Plant
society_amenities_Skating Rink
society_amenities_Spa
society_amenities_Sports Area
society_amenities_Sports Facility
society_amenities_Squash Court
society_amenities_Swimming Pool
society_amenities_Tennis Court
society_amenities_Utility Shops
society_amenities_Water Supply
society_amenities_Yoga Room
furnishings_Gas Pipeline
furnishings_Power Backup
possession_starts_in_days
property_type_Apartment
property_type_Plot
property_type_Independent House
property_type_Villa
property_type_Independent Floor
property_type_Agricultural Land
listed_by_owner
furnished_unfurnished
furnished_fully
furnished_semi

In [61]:
price
property_type
sale_type
longitude
latitude
average_price
listed_by
address
bedrooms
bathrooms
parking
balcony
built_up_area
possession_starts
age
total_floors
floor_listing
facing_direction
furnished
project_name
brokerage_cost
carpet_area
added_info
description
furnishings
society_amenities
closest_X
closest_X_distance

NameError: name 'price' is not defined

In [63]:
df = df.rename(columns = {'Furnishing': 'furnished'})

In [82]:
f = open('cols.csv', 'r')
ls = f.readlines()
cols = []
for e in ls:
    c = e.strip()
    if c != '':
        cols.append(c)

In [84]:
len(cols)

116

In [89]:
df = df[cols]

In [90]:
df[:20].to_csv('final_demo.csv')
df.to_csv('FINAL.csv')